/* Text */

h1 {
  max-width: 30em;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
  font-weight: bold; 
  font-style: italic;
  text-align: center;
  line-height: 145%;
}

p {
  max-width: 30em;
  color: black;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  line-height: 145%;
}

/* Button */

button {
  min-width: 100px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 2em;
  border: 0;
  border-radius: 0;
  padding: 8px 16px;
  color: white;
  background-color: #b1aeab;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

button:hover {
  background: #797771;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px white;
}

/* Flex */

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 100px;
  margin: 0 auto;
  max-width: 500px;
  position: relative;
}

.text-section {
  background-color: #c0c0c0;
  padding: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.button-section {
  background-color: #ebebeb;
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}